#Chat_back {
  position: fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 방향 중앙 정렬 (선택 사항) */
  justify-content: center; /* 세로 방향 중앙 정렬 (선택 사항) */
  padding: 0px;
  width: calc(100vw - var(--back-width) );
  min-width: calc(100vw - var(--back-width) );
  height: 100%;
  background-color: #212121;
  z-index: 1;
  transition: width 0.5s ease; /* 애니메이션 효과 */
}

.expanded{
width: 100vw !important;
}

#Ask_group {
  background-color: #2f2f2f;
  border-radius: 35px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  width: 80%;
  height: 62px;
  margin: auto;
  margin-bottom: 20px;
}

#tb_input {
  padding-right: 10px;
  overflow: hidden;
  resize: none;
  height: 42px;
  background-color: #2f2f2f;
  width: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
}
#input_button {
  background-color: #676767;
  border-radius: 50%;
  border: none;
  width: 42px;
  height: 42px;
  padding: 0px;
  margin: auto;
  color: white;
}
.hoverOn:hover{  
  background-color: #858585 !important;
}