.text {
  white-space: pre-wrap; /* 줄바꿈과 공백을 유지하면서도 자동 줄바꿈 */
  word-wrap: break-word; /* 단어가 너무 길면 다음 줄로 넘김 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  margin: 0px;
  font-size: 1.3rem;
  line-height: 1.75;
}
.chat_bubble {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}

.chat_icon {
  position: absolute; /* 절대 위치 지정 */
  top: 0%; /* 상단에서의 위치 조정 */
  left: -60px; /* 왼쪽에서의 위치 조정 */
  width: 50px; /* 이미지의 너비 */
  height: auto; /* 비율 유지 */
}
.user_chat_icon {
  position: absolute; /* 절대 위치 지정 */
  top: 5px; /* 상단에서의 위치 조정 */
  right: -60px; /* 왼쪽에서의 위치 조정 */
  width: 50px; /* 이미지의 너비 */
  height: auto; /* 비율 유지 */
}

.strong {
  font-weight: bold;
  font-size: 1.5rem !important;
}

.h1 {
  margin-top: 60px !important;
  margin-bottom: 20px !important;
}

.inlineCode {
  line-height: 1.75;
  background-color: #2f2f2f;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px !important;
}

.code_top {
  font-size: 1.3rem;
  padding: 10px;
  padding-left: 24px;
  margin: 0px;
  color: yellowgreen;
}
.codes_back {
  border-radius: 1rem;
  background-color: #141414 !important;
}
.codes {
  font-size: 1.2rem !important;
  line-height: 1.75;
  border-radius: 0px !important;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  margin: 0px !important;
}

.code_alone{
  border-radius: 1rem !important;
}

.codes::-webkit-scrollbar {
  width: 15px;
}

.codes::-webkit-scrollbar-track {
  background-color: rgb(40, 42, 54); 
}

.codes::-webkit-scrollbar-thumb {
  background-color: #7b7c9c;
  border-radius: 7px;
}

.codes::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
.userbub {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1.5rem;
  background-color: #2f2f2f;
  padding: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  overflow: hidden; /* 내용이 넘치면 숨김 */
  word-wrap: break-word; /* 단어가 너무 길 경우 줄을 넘김 */
  margin: 0px !important;
}

.bubble {
  max-width: 100%;
  padding: 0px;
  overflow: hidden; /* 내용이 넘치면 숨김 */
  word-wrap: break-word; /* 단어가 너무 길 경우 줄을 넘김 */
  margin-bottom: 10px;
}
.user {
  display: flex;
  right: 0px;
  flex-direction: row;
  justify-content: end;
}

.assistant {
  display: flex;
  flex-direction: row;
}
