
  
  
  #conversation_list_active {
    border: none;
    border-radius: 10px;
    background-color: #1a1d20; /* 배경색 변경 */
    color: white; /* 텍스트 색상 변경 */
  }
  
  #conversation_list {    
    border: none;
    border-radius: 10px;
    background-color: #343a4000; /* 배경색 변경 */
    color: white; /* 텍스트 색상 변경 */
  }