
#Top_bar {
  display: flex;
  flex-direction: row;
  align-items: center; /* 가로 방향 중앙 정렬 (선택 사항) */
  background-color: #212121;
  margin: 0;
  padding: 15px;
  padding-left: 20px;
  width: 100%;
  height: 80px;
}
.dropdown-toggle::after {
  display: none !important; /* 화살표 제거 */
}

#list_btn_chat {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #212121;
  border: none;
}

#list_btn_chat:hover {
  background-color: #2f2f2f;
}

#write_btn_chat {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  background-color: #212121;
  border: none;
  margin-left: 10px;
}
#write_btn_chat:hover {
  background-color: #2f2f2f;
}

#model_dropdown :hover,
#settings_dropdown :hover {
  background-color: #2f2f2f;
}

#dropdown_top {
  font-size: larger;
  font-weight: bold;
  color: rgb(193, 193, 193);
  height: 50px;
  background-color: #212121;
  border: none;
}
#settings_dropdown {
  margin-left: auto;
}

.modal_header {
  border-bottom: none;
}

.modal_back {
  background-color: #212121;
  border-radius: 5px;
  color: white;
}

#model_dropdown {
  margin-left: 10px;
}

.dropdown_menu {
  background-color: #2f2f2f !important;
}

.dropdown_item {
  user-select: none; /* 텍스트 선택 방지 */
  -webkit-user-drag: none; /* 요소 드래그 방지 */
  color: rgb(193, 193, 193);
  padding: 10px;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}
