body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #171717;
  --main-text-color: white;
  --active-bg-color: #2a2a2a;
  --list-width : 300px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#Back{
  display: flex;
  position: relative ;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* 창 크기 작아지면 없어지도록 해야함 */
#List_Panel {
  position: absolute;
  padding: 0px;
  width: var(--list-width);
  height: 100vh;
  background-color: #171717;
  color: white;
  transition: width 0.5s ease, height 0.5s ease; /* 애니메이션 효과 */
}

.expanded {
  width: calc(100vw - var(--list-width)) !important;  /* 확장된 크기 */
}

.collapsed {
  width: 100vw !important;
}


#Main_panel{  
  position: absolute;
  margin: 0px;
  width: calc(100vw - var(--list-width));
  height: 100vh; /* Top_bar의 높이를 뺀 나머지 높이 */
  left: var(--list-width);
}


#Chat_Panel {  
  margin: 0px;
  position: absolute;
  width: calc(100vw - var(--list-width));
  height: 100vh ;
  background-color: #212121;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
